
.top{
    margin-left: 50px;
    
}
.clear-div{
    clear:both;
}
    
}
body{
    font-family: 'Open Sans', sans-serif;
}
.color{
    color:red;}
.headr-left{
    width:40%;
    float:left;
    
    
}
.header-right{
    width:40%;
    float:right;
    margin:0;
}
.top-img{
    width:80%;
   height:0%

}
.top-btn{
    text-decoration: none;
    background-color:red;
    font-size: 20px;
    border-radius: 8px;
    padding:10px 35px;
}
.midle-left{
    width:40%;
    float:left;
}
.midle-right{
    width:40%;
    float:right;
}
.midle-img{
    width:80%;

}
.midle{
    margin-top:100px;
    margin-bottom: 50px;
}
.midle-btn{
    text-decoration: none;
    background-color:red;
    font-size: 20px;
    border-radius: 8px;
    padding:10px 35px;
}
.bottom{
    background-color: bisque;
    height:450px;
   padding:80px;
    text-align: center;
}
.bottom-left{
    width:27%;
    float:left;
    padding-top: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 8px;
    text-align: left;
    margin-top: 50px;
    padding-left: 50px;
    




}
.bottom-midle{
    width:27%;
    float:left;
    padding-top: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 25px;
    border-radius: 8px;
    text-align: left;
    margin-top: 50px;
    padding-left: 50px;
  
}
.bottom-right{
    width:27%;
    float:right;
    padding-top: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 8px;
    text-align: left;

    margin-top: 50px;
    padding-left: 50px;


}
.f-color{
    color:red;
}
.ff{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}
.l-img{
    width:80%;
}
.m-img{
    width:80%;
}
.r-img{
    width:80%
}
.bottom-last{
    background-color: rgb(245, 245, 245);
}
.bottoma-a{
    width: 70%;
    margin-left: 15%;
    margin-top: 200px;
    margin-bottom: 100px;
}